<div class="task-update">


  <label>Total Time worked</label>
  <table>
    <tr>
      <td>
        {{super-number id="hours_input" min=0 max=23 loop=true value=1}}
      </td>
      <td>
        {{super-number id="minutes_input" value=0 loop=true min=0 max=59 loop=true}}
      </td>
      <td>
        {{super-number id="standard_seconds" value=0 min=0 max=59 loop=true}}
      </td>
    </tr>
    <tr style="text-align:center">
      <td>
        Hours
      </td>
      <td>
        Minutes
      </td>
      <td>
        Seconds
      </td>
    </tr>
  </table>

  <hr>

  <label> Select Project </label>
  <select class="form-control" id="sel1">
    <option>Food Programme</option>
    <option>Software Development</option>
    <option>Real Estate</option>
  </select>

  <hr>

  <label> Select Task </label>
  <select class="form-control" id="sel1">
    <option>Task 1</option>
    <option>Task 2</option>
    <option>Task 3</option>
    <option>Task 4</option>
  </select>


  <hr>

  <label> Description </label>


  {{hgn-editor}}


<hr>

</div>

<style>
.task-update{

  width:800px;
  margin:10px;
  padding: 30px;
  height: 500px;
  overflow-y: scroll;
}

.task-update button{
  color: black;
}
.task-update .super_number input{
  width:100px;
  text-align: center;
  margin-left:5px;
}
.task-update .super_number a.increment, .super_number a.decrement {
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    margin-left:5px;
    z-index: 1;
    left: 0;
    right: 0;
    height: 22px;
    cursor: pointer;
    width: 100px;
    font-weight: 200;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 23px;
    line-height: 19px;
    background: #2B3E50;
    transition: background linear 0.2s;
    -webkit-transition: background linear 0.2s;
    -moz-transition: background linear 0.2;
}
</style>
