<div class="panel" style="width:270px;height:350px;padding:0px;background-color:#DA9962">
  <div class="panel-heading" style="background-color:#C1702A">Badges</div>
  <div class="panel-body" style="padding:0px;">

  </div>
</div>{{yield}}
