<div class="task-update">


  <label>Total Time worked (hours) </label>
  {{input value=model.totalSeconds}}
  <hr>

  <label> Select Project </label>
  {{input value=model.project}}

  <hr>

  <label> Select Task </label>
  {{input value=model.task}}


  <hr>

  <label> Description </label>


  {{hgn-editor model=model}}


<hr>

</div>
