<div class="task-update">


  <label>Total Time worked (hours) </label>
  {{input value=model.totalSeconds}}
  <hr>

  <label> Select Project </label>
  {{input value=model.project}}

  <hr>

  <label> Select Task </label>
  {{input value=model.task}}


  <hr>

  <label> Description </label>


  {{hgn-editor model=model}}


<hr>

</div>

<style>
.task-update{

  width:800px;
  margin:10px;
  padding: 30px;
  height: 500px;
  overflow-y: scroll;

}

.task-update button{
  color: black;
}
.task-update .super_number input{
  width:100px;
  text-align: center;
  margin-left:5px;
}
.task-update .super_number a.increment, .super_number a.decrement {
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    margin-left:5px;
    z-index: 1;
    left: 0;
    right: 0;
    height: 22px;
    cursor: pointer;
    width: 100px;
    font-weight: 200;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 23px;
    line-height: 19px;
    background: #2B3E50;
    transition: background linear 0.2s;
    -webkit-transition: background linear 0.2s;
    -moz-transition: background linear 0.2;
}
</style>
