{{#if isHeaderVisible}}

{{hgn-header isUserAdministrator=isUserAdministrator notifications = notifications}}

{{/if}}



<div class="container">

    {{outlet}}

    <div id="destination">

      <!-- ember-wormhole -->

    </div>

</div>
