{{#if isHeaderVisible}}
{{hgn-header isUserAdministrator=isUserAdministrator}}
{{/if}}


<div class="container">

    {{outlet}}

    <div id="destination">

      <!-- ember-wormhole -->

    </div>

</div>
