@color-succes : green;
@color-danger : red;
@button-width : 30%;
@form-color : blue;
@btn-width: 30%;


/*.btn
{
  width: @btn-width

} */
.glyphicon-minus
{
  color:@color-danger
}

.glyphicon-plus
{
  color: @color-succes
}

.myprofile
{
    background-color: @form-color
}
