{{outlet}}

<div class ='container'>
<div class="row">
<div class = "col-md-4 profile">
  <img class="well" style=" width:100%;margin-top: 20px; " src="https://addons.cdn.mozilla.net/static//img/zamboni/anon_user.png" >
<div>
  <span>Email:</span><span>hari@gmail.com</span>
</div>
  <div>
  <span>Phone:</span><span>1234333980</span>
  </div>
  <div>
  <span>Volunteer</span>
  </div>
</div>
  <div class ="col-md-8 profile bio">
    <h4>Bio:</h4>
    <p>Software Engineer-Web developer &.Net application developer.
      She received her bachelor's in Electrical and Electronics Engineering with distinction(Gold medalist) from one of India's reputed university, Pondicherry University.
      Due to her passion in programming, she pursued her career as a programmer and application developer.
      she is also a Microsoft Certified Technology specialist.
      On her spare time, she would like to paint, bead or solve sudoku. She strongly believes that change starts from within.
      As a one community volunteer, she is helping in developing an open source Time Tracking Tool.
       </p>
<div>
  <h4>Professional Link(s):</h4>
<div>
  <h4>Personal Link(s): </h4>
  <p><a href="#">Test Personal link1</a></p>
  <a href="#">Test Personal link2</a>

</div>
  <h4>Weekly Hours commited: 20</h4>
  <h4>No.of weeks achieved: 4</h4>

</div>
  </div>
</div>
  <div class="panel panel-primary" style="margin-top: 20px;">
    <div class="panel-heading">Badges Earned So Far </div>
    <div class="panel-body">
    <img src="/assets/images/badges/2x_burned.png"  height="80">
    </div>
  </div>
</div>