{{#if showErrors}}

{{#each errors as |error|}}

<div class = "">
<div class="col-sm-1">
    <small id="passwordHelp" class="text-danger">
      {{error}}
    </small>      
  </div>
  </div>

<!--<span style= "color: red">{{error}}</span> -->
{{/each}}
{{/if}}
{{yield}}
