<div class = "col-xs-12">
<div class="panel panel-info " >
  <div class="panel-heading">
   <h4 class="panel-title">Notifications
      <a class = "pull-right" data-toggle="collapse" data-target="#notifications" > <span class = "glyphicon glyphicon-chevron-right" > </span> </a>
    </h4> 
      
  </div>
  <div class="panel-body collapse" id = "notifications">
    <div class="list-group">
      {{#each notifications as |notification|}}
      <li class="list-group-item">{{notification.message}}
       <a href="#" class="pull-right" {{action "deleteNotification" notification}} data-toggle="tooltip" data-placement="right" title="Mark Notification As Read">
      <span class = "glyphicon glyphicon-ok"></span>
    </a>
    </li>
    
{{/each}}

    </div>


</div>
</div>
</div>