<div class="panel panel-default" style="height:350px;background-color:#A9D96C;text-align:center">
          <a href="/timelog" style="text-decoration:none; color: black;">
          <div class="panel-heading" style="background-color:#7AA243">Hours Worked this month (Projects)</div>
          <div class="panel-body">
            {{ember-chart type='bar'  data=hoursthismonth options = baroptions }}
            </div>
          </a>
        </div>

{{yield}}
